.insuranse-form{
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.insuranse{
    display: flex;
    padding: 20px;
}
.insuranse-form-item{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.insurance-form-input{
    padding: 10px;
}
.insurance-form-submit{
    transition: 0.5s;
    background-color: #fff;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 10px;
}
@media screen {
    .insurance-form-submit:hover{
        background-color: #000;
        color: #fff;
    }
}